html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: rgb(214, 231, 236);
    margin: 0;
}
.login_body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('../images/image.png'); */
}
.login_form_container {
    background: linear-gradient(to right, rgba(67, 187, 204, 0.9) 0%, rgba(80, 132, 163, 0.9) 100%);
    width: 500px;
    height: 500px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.login_title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.login_sub_title {
    color: #fff798;
}
.login_input {
    border: none;
    border-radius: 5px;
    height: 40px;
    padding-left: 5px;
    font-size: 15px;
}
.submit_button {
    background-color: #167ac6;
    color: white;
    font-weight: bold;
    border: none;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}
.login_white_title {
    text-align: center;
    color: white;
}
.login_href {
    text-decoration: none;    
}
.input_title {
    display: flex;
    align-items: center;
}
.error {
    color: red;
    margin-left: 15px;
    font-size: 13px;
}
header {
    background: linear-gradient(to right, rgba(67, 187, 204, 0.9) 0%, rgba(80, 132, 163, 0.9) 100%);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 50px;
    color: white;
}
.button {
    background: none;
    color: white;
    border: 0.5px solid white;
    outline: none;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
    font-weight: bold;
}
.button.hovered {
    background-color: white ;
    color: rgb(137, 204, 226);
}
.user_name {
    color: white;
    margin-right: 50px;
}
.post_container {
    background-color: white;
    width: 800px;
    height: 200px;
    margin-top: 20px;
}
.main_body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post_content {
    width: 760px;
    height: 100px;
    padding: 0;
    border: none;
    border-bottom: 0.5px solid rgb(168, 166, 166);
    outline: none;
    padding: 20px;
    font-size: 15px;
}
.post_button_container {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit_button.no_margin {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small_icon {
    margin-right: 7px;
}
.camera_icon {
    margin-left: 10px;
    height: 30px;
    cursor: pointer;
}
.posted_list_container {
    margin-top: 20px;
    width: 800px;
}
.posted_item_container {
    background-color: white;
    margin-top: 10px;
}
.posted_user_name {
    font-weight: bold;
    font-size: 15px;
}
.posted_time {
    font-size: 13px;
    margin-left: 30px;
}
.posted_content {
    margin-top: 10px;
    padding: 10px 10px 20px 10px;
    font-size: 15px;
}
.posted_title_container {
    padding: 10px;
    display: flex;
    align-items: center;
}
.photo_container {
    display: flex;
    align-items: center;
}
.photo_name {
    font-size: 13px;
    margin-left: 15px;
}
.posted_photo {
    max-width: 760px;
}
.posted_photo_container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px 20px 20px 20px;
}
.heart_icon {
    margin-left: 20px;
    cursor: pointer;
    width: 20px;
}
.heart_icon_red {
    margin-left: 20px;
    cursor: pointer;
    width: 20px;    
}
.like_count {
    color: grey;
    margin-left: 10px;
    font-size: 13px;
}
.button.liked_posts {
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.reply_container {
    height: 30px;
    border-top: 0.5px solid rgb(168, 166, 166);
    display: flex;
    align-items: center;
    color: grey;
    font-size: 14px;
}
.reply_icon {
    width: 18px;
    margin: 0 5px 0 10px;
}
.reply_container.pointer {
    cursor: pointer;
    border-top: none;
}
.reply_black_icon {
    margin-right: 10px;
}
.reply_count {
    padding: 0;
    margin-top: 20px;
    width: 800px;
    text-align: start;
    color: grey; 
}
.reply_container.between {
    justify-content: space-between;
}
.reply_total {
    margin-right: 10px;
}
@media screen and (max-width: 1000px) {
    .login_form_container {
        width: 260px;
    }
    .posted_list_container {
        width: 360px;
    }
    .posted_photo {
        max-width: 320px;
    }
    .post_container {
        width: 360px;
    }
    .post_content {
        width: 320px;
    }
    .user_name {
        display: none;
    }
    header {
        justify-content: space-between;
        padding: 0 30px 0 30px;
    }
    .reply_count {
        width: 360px;
    }
    button {
        font-size: 15px;
    }
}
